* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.header {
    background-color: blueviolet;
    height: 30px;
    width: 100%;
    position: fixed;
}

.header a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10%;

}

.header p {
    padding-top: 5px;
}

p {
    text-align: center;
}

.ini-paragraf {
    color:RED;
}

img {
    width: 10px;
}

.ini-logo {
    width: 100px;
}

ul li {
    list-style: none;
}

table, th, td {
    border:1px solid black;
    margin: auto;
}

footer {
    background-color: pink;
}